@import "tailwindcss";

:root {
  --color-accent: #e50914;
  --color-accent-hover: #c11119;
  --color-logo: #e50914;
  --color-btn-text: #ffffff;
}

.bg-accent {
  background-color: var(--color-accent);
}

.hover\:bg-accent-hover:hover {
  background-color: var(--color-accent-hover);
}

.text-btn {
  color: var(--color-btn-text);
}

.text-accent {
  color: var(--color-accent);
}

.fill-logo {
  fill: var(--color-logo);
}

.border-accent {
  border-color: var(--color-accent);
}

.focus\:border-accent:focus {
  border-color: var(--color-accent);
}