

@import "tailwindcss";


:root {
  --primary: #e50914;
  --text: #ffffff;
}

/* reusable theme button */
.btn-theme {
  background-color: var(--primary);
  color: var(--text);
  transition: 0.3s ease;
}

.btn-theme:hover {
  opacity: 0.85;
}
